<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="false" default-autowire="byName">

	<!--开启注解方式，扫描holley_server.lysw.server,holley_server.lysw.service两个包路径 -->
	<context:annotation-config />
	<!--<context:component-scan base-package="holley_server.lysw.server" />
	<context:component-scan base-package="holley_server.lysw.service" />
	<context:component-scan base-package="holley_server.lysw.service_http" /> -->

	<bean id="bankWithholdService" class="holley_server.lysw.service.BankWithholdServiceImpl"  >
		<property name="bankWithholdServiceHttp" ref="bankWithholdServiceHttp" /> 
	</bean>
	<bean id="bankWithholdServiceHttp" class="holley_server.lysw.service_http.BankWithholdServiceHttpImpl"  >
	</bean>  

</beans>